<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/author"> Authors</a></li>
            <li><a href="/author/new"> New Authors</a></li>
        </ul>
    </nav>
</header>