<h2>Edit Authors</h2>
<form action ="/author/<%=author.id %>?_method=PUT" method = "POST">

    <%- include('_form_fields.ejs') %>
    <%- include('errorMessage.ejs') %>
    <a href = "/author">Cancel</a>
    <button type = "submit">Update</button>
</form>